.holder {
    width: 100%;
    min-height: 500px;
    // background: lightblue;
    display: flex;
    gap: 1rem;

    .img {
        flex: 1;
        // background: salmon;
        img {
            width: 300px;
        }
    }

    .content {
        flex: 4;
        // background: tomato;

        .ratings {
            height: 3rem;
            width: 20rem;
            // background: purple;
            margin-bottom: 1rem;
            display: flex;
            gap: 8px;
        }
    }
}
